<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulutsoft.mamtil">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"/>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".VocabularyActivity" />

        <activity android:name=".ConversationActivity" />

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".ConversationCategoryActivity"/>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".SpeechActivity"/>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".DialogActivity" />

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".DialogGroupActivity"/>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".SpeechStudioActivity" />

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".GrammarActivity"/>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".LesonActivity"/>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".FindWordActivity"/>

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".FinishSentenceActivity"/>

    </application>

</manifest>
