<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulutsoft.mamtil">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Башкы бет" />
        <activity
            android:name=".VocabularyActivity"
            android:label="Создук" />
        <activity android:name=".ConversationActivity" />
        <activity
            android:name=".ConversationCategoryActivity"
            android:label="Разгаворник" />
        <activity
            android:name=".SpeechActivity"
            android:label="Суйлошмо" />
        <activity android:name=".DialogActivity" />
        <activity
            android:name=".DialogGroupActivity"
            android:label="Диалог" />
        <activity android:name=".SpeechStudioActivity" />
        <activity
            android:name=".GrammarActivity"
            android:label="Граматика" />
        <activity
            android:name=".LesonActivity"
            android:label="Сабактар" />
        <activity android:name=".FindWordActivity" />
        <activity android:name=".FinishSentenceActivity"></activity>
    </application>

</manifest>
